---
import Layout from '@/layouts/Layout.astro'
import softwareBanner from '@/assets/Banners/software.webp'
import AnsiCThumb from '@/assets/ThumbnailCourses/AnsiC.webp'
import HeroServices from '@/sections/services/HeroServices.astro'
import TheServices from '@/sections/services/TheServices.astro'

const service = {
	title: 'Desarrollo de software',
	description:
		'Diseñamos soluciones de software a medida, desde Software Industrial, aplicaciones de escritorio hasta plataformas Web IoT, adaptadas específicamente a tus necesidades. Acompañamos cada fase de tu proyecto, desde la idea hasta la implementación, ofreciendo soluciones integrales personalizadas asegurando el éxito de tu negocio.',
	bannerSrc: softwareBanner,
	services: [
		{
			name: 'Software Industrial (HMI, SCADA, DCS)',
			imgSrc: AnsiCThumb,
			nextPage: '/services/software/industrial-software',
			imgAlt: 'Software Industrial (HMI, SCADA, DCS)',
		},
		{
			name: 'Software para adquisición de datos',
			imgSrc: AnsiCThumb,
			nextPage: '/services/software/data-acquisition',
			imgAlt: 'Software para adquisición de datos',
		},
		{
			name: 'Desarrollo de Sottware para IoT',
			imgSrc: AnsiCThumb,
			nextPage: '/services/software/iot',
			imgAlt: 'Desarrollo de Sottware para IoT',
		},
		{
			name: 'Desarrollo de Software para BMS',
			imgSrc: AnsiCThumb,
			nextPage: '/services/software/bms',
			imgAlt: 'Desarrollo de Software para BMS',
		},
		{
			name: 'Desarrollo de Firmware',
			imgSrc: AnsiCThumb,
			nextPage: '/services/software/firmware',
			imgAlt: 'Desarrollo de firmware',
		},
	],
}
---

<Layout title="MMJ Smart Electronics">
	<div class="overflow-x-hidden">
		<HeroServices service={service} />
		<TheServices service={service} />
	</div>
</Layout>
