<nav-burguer
	id="hamburguer-menu"
	class="flex flex-col items-center justify-center gap-1 lg:invisible lg:absolute"
>
	<span
		id="bar1"
		class="block h-0.5 w-6 rounded-sm bg-white transition-all duration-300 ease-out"
	>
	</span>
	<span
		id="bar2"
		class="my-0.5 block h-0.5 w-6 rounded-sm bg-white transition-all duration-300 ease-out"
	>
	</span>
	<span
		id="bar3"
		class="block h-0.5 w-6 rounded-sm bg-white transition-all duration-300 ease-out"
	>
	</span>

	<div
		id="nav-acordeon"
		class="absolute inset-x-0 top-20 z-[60] h-0 overflow-hidden bg-slate-400 shadow-md shadow-slate-100 transition-all duration-300 ease-out"
	>
		<ul class="flex h-full flex-col justify-center gap-8 text-white">
			<li class="w-full text-center font-medium">
				<a class="block w-full" href="/nosotros">Nosotros</a>
			</li>
			<li class="text-center font-medium">
				<a class="block w-full" href="/cursos">Cursos</a>
			</li>
			<li class="text-center font-medium">
				<a class="block w-full" href="">Servicios</a>
			</li>
			<li class="text-center font-medium">
				<a class="block w-full" href="">Productos</a>
			</li>
			<li class="text-center font-medium">
				<a class="block w-full" href="">Contáctanos</a>
			</li>
		</ul>
	</div>
</nav-burguer>
<script>
	class navAstroHamburguer extends HTMLElement {
		constructor() {
			super()

			let isOpen = false // Start close

			let bar1 = this.querySelector('#bar1')
			let bar2 = this.querySelector('#bar2')
			let bar3 = this.querySelector('#bar3')

			let navAcorderon = this.querySelector('#nav-acordeon')

			this.addEventListener('click', () => {
				isOpen = !isOpen // Close - Open . . .

				this.classList.toggle('gap-1')

				bar1?.classList.toggle('translate-y-1')
				bar1?.classList.toggle('rotate-45')

				bar2?.classList.toggle('opacity-0')

				bar3?.classList.toggle('-translate-y-1')
				bar3?.classList.toggle('-rotate-45')

				if (isOpen) {
					navAcorderon?.classList.remove('h-0')
					navAcorderon?.classList.add('h-64')
				} else {
					navAcorderon?.classList.remove('h-64')
					navAcorderon?.classList.add('h-0')
				}
			})
		}
	}

	customElements.define('nav-burguer', navAstroHamburguer)
</script>

<!-- 
  translate-y-1 rotate-45 
  opacity-0 t
  -translate-y-1 -rotate-45 
-->
