---
import { Image } from 'astro:assets'
import peoples from '@public/svg/peoples.svg'
import list from '@public/svg/list.svg'

const { course } = Astro.props
---

<section class="bg-black py-12 md:px-4">
	<div
		class="mx-auto flex max-w-6xl flex-col px-4 md:grid md:grid-cols-2 md:grid-rows-1 md:rounded-3xl md:bg-white md:px-8 md:py-4 lg:p-12"
	>
		<div class="md:border-r md:border-black md:pr-4">
			<hgroup
				class="mb-4 flex items-center justify-center gap-4 md:justify-start"
			>
				<Image src={peoples} alt="Ícono de personas" width={48} height={48} />
				<h2
					class="text-center text-base font-semibold uppercase text-white md:text-start md:text-xl md:text-black"
				>
					¿A quién va dirigido?
				</h2>
			</hgroup>
			<p
				class="text-pretty text-center text-sm font-normal text-white md:text-start md:text-base md:leading-5 md:text-black lg:text-start lg:text-xl lg:font-normal lg:tracking-wide"
			>
				{course.clients}
			</p>
		</div>
		<div class="md:pl-8">
			<hgroup
				class="mb-4 flex items-center justify-center gap-4 md:justify-start"
			>
				<Image src={list} alt="Ícono de personas" width={48} height={48} />
				<h2
					class="text-center text-base font-semibold uppercase text-white md:text-start md:text-xl md:text-black"
				>
					Requisitos previos
				</h2>
			</hgroup>
			<p
				class="text-pretty text-center text-sm font-normal text-white md:text-start md:text-base md:leading-5 md:text-black lg:text-start lg:text-xl lg:font-normal lg:tracking-wide"
			>
				{course.NeedKnow}
			</p>
		</div>
	</div>
</section>
