---
import CardCoursesContainer from '@/components/CardCoursesContainer.astro'
import { specializations } from '@/data/courses'
---

<section class="bg-black">
	<h2
		class="mb-8 text-center text-xl font-semibold uppercase text-white md:text-3xl"
	>
		Otros cursos que te pueden interesar
	</h2>
	<CardCoursesContainer specializations={specializations} />
</section>
