---
import liveScreen from '@public/svg/LiveScreen.svg'
import cloudClasroom from '@public/svg/cloudClasroom.svg'
import books from '@public/svg/books.svg'
import chat from '@public/svg/chat.svg'
import { Image } from 'astro:assets'
---

<section class="bg-black py-12">
	<h2
		class="mb-8 text-pretty text-center text-xl font-semibold uppercase text-white md:mb-12 md:text-3xl lg:mb-16"
	>
		Tecnologías de hardware y software que aprenderás en este curso
	</h2>
	<ul
		class="flex flex-wrap items-center justify-center gap-8 md:gap-8 lg:mx-auto lg:max-w-4xl lg:gap-12 xl:max-w-6xl xl:gap-12"
	>
		<l8 class="mx-auto flex items-center justify-start gap-4 md:flex-col">
			<div class="grid h-24 w-24 place-content-center rounded-full bg-white">
				<Image
					src={liveScreen}
					alt="Icono de Pantalla"
					width={64}
					height={64}
					class="h-24"
				/>
			</div>
			<p
				class="w-64 max-w-80 text-left text-sm font-semibold uppercase text-white md:text-center lg:max-w-40 lg:text-pretty"
			>
				Clases en vivo
			</p>
		</l8>
		<l8 class="mx-auto flex items-center justify-start gap-4 md:flex-col">
			<div class="grid h-24 w-24 place-content-center rounded-full bg-white">
				<Image
					src={cloudClasroom}
					alt="Icono de nube"
					width={64}
					height={64}
					class="h-24"
				/>
			</div>
			<p
				class="w-64 max-w-80 text-left text-sm font-semibold uppercase text-white md:text-center lg:max-w-40 lg:text-pretty"
			>
				Plataforma virtual
			</p>
		</l8>
		<l8 class="mx-auto flex items-center justify-start gap-4 md:flex-col">
			<div class="grid h-24 w-24 place-content-center rounded-full bg-white">
				<Image
					src={books}
					alt="Icono de libros"
					width={64}
					height={64}
					class="h-24"
				/>
			</div>
			<p
				class="w-64 max-w-80 text-left text-sm font-semibold uppercase text-white md:text-center lg:max-w-56 lg:text-pretty"
			>
				Material de clase
			</p>
		</l8>
		<li class="mx-auto flex items-center justify-start gap-4 md:flex-col">
			<div class="grid h-24 w-24 place-content-center rounded-full bg-white">
				<Image
					src={chat}
					alt="Icono de chats"
					width={64}
					height={64}
					class="h-24"
				/>
			</div>
			<p
				class="w-64 max-w-80 text-left text-sm font-semibold uppercase text-white md:text-center lg:max-w-40 lg:text-pretty"
			>
				Asesoría personalizada
			</p>
		</li>
	</ul>
</section>
