---
import liveScreen from '@public/svg/LiveScreen.svg'
import cloudClasroom from '@public/svg/cloudClasroom.svg'
import books from '@public/svg/books.svg'
import chat from '@public/svg/chat.svg'
import { Image } from 'astro:assets'

const { course } = Astro.props
---

<section class="bg-black py-12">
	<h2
		class="mb-8 text-pretty text-center text-xl font-semibold uppercase text-white md:mb-12 md:text-3xl lg:mb-16"
	>
		Tecnologías de hardware y software que aprenderás en este curso
	</h2>
	<ul
		class="flex flex-wrap items-center justify-center gap-8 md:gap-8 lg:mx-auto lg:max-w-4xl lg:gap-12 xl:max-w-6xl xl:gap-12"
	>
		{
			course.youLearns.map(
				(learn: { imageSrc: ImageMetadata; title: string }) => (
					<li class="mx-auto flex flex-col items-center justify-start gap-4 md:flex-col lg:justify-start">
						<div class="grid h-36 w-36 place-content-center rounded-full bg-white">
							<Image
								src={learn.imageSrc}
								alt="Icono de Pantalla"
								width={128}
								height={128}
								class="mx-auto w-3/4"
							/>
						</div>
						<p class="max-w-80 text-left text-sm font-semibold uppercase text-white md:text-center lg:max-w-52 lg:text-pretty lg:text-xl">
							{learn.title}
						</p>
					</li>
				),
			)
		}
	</ul>
</section>
