---
const { course } = Astro.props
---

<section class="mx-auto max-w-6xl py-12">
	<h2
		class="mx-auto mb-8 max-w-lg text-center text-xl font-semibold uppercase md:text-3xl"
	>
		¿Qué aprenderás en esta especialización?
	</h2>
	<div class="m-4 rounded-2xl bg-white p-8 shadow-md shadow-black">
		<div class="slider">
			<input
				class="hidden"
				type="radio"
				name="acordeon"
				id="acordeon1"
				checked
			/>
			<input class="hidden" type="radio" name="acordeon" id="acordeon2" />
			<input class="hidden" type="radio" name="acordeon" id="acordeon3" />
			<input class="hidden" type="radio" name="acordeon" id="acordeon4" />
			<input class="hidden" type="radio" name="acordeon" id="acordeon5" />
			<input class="hidden" type="radio" name="acordeon" id="acordeon6" />

			<!-- </div> -->
			<div class="content">
				{
					course.syllabus.map(
						(syllabu: { theme: string; topics: string[] }, index: any) => (
							<div class="mb-4">
								<label
									for={`acordeon${index + 1}`}
									class="flex items-center gap-8"
								>
									<p class="grid h-10 w-10 place-content-center bg-black text-white">
										{index + 1}
									</p>
									<p class="flex h-10 w-full items-center rounded-lg bg-stone-200 px-8 font-semibold text-black shadow shadow-stone-900 lg:text-xl">
										{`Tema ${index + 1}: ${syllabu.theme}`}
									</p>
								</label>
								<ul class="max-h-0 overflow-hidden px-24">
									{syllabu.topics.map((topic: string) => (
										<li class="mt-2 font-normal tracking-wide lg:text-lg">
											&bull; {topic}
										</li>
									))}
								</ul>
							</div>
						),
					)
				}
			</div>
		</div>
		<a
			class="mx-auto mt-8 block max-w-96 rounded bg-black py-2 text-center text-lg font-medium uppercase text-white"
			href={course.syllabusSrc}>Descarga el temario completo</a
		>
	</div>
</section>

<style>
	ul {
		transition: all 0.3s ease-in-out;
	}

	.slider input:nth-child(1):checked ~ .content > div:nth-child(1) > ul,
	.slider input:nth-child(2):checked ~ .content > div:nth-child(2) > ul,
	.slider input:nth-child(3):checked ~ .content > div:nth-child(3) > ul,
	.slider input:nth-child(4):checked ~ .content > div:nth-child(4) > ul,
	.slider input:nth-child(5):checked ~ .content > div:nth-child(5) > ul,
	.slider input:nth-child(6):checked ~ .content > div:nth-child(6) > ul {
		max-height: 256px;
	}
</style>
