---
import CardCoursesContainer from '@/components/CardCoursesContainer.astro'
import { specializations } from '@/data/courses'
---

<section>
	<CardCoursesContainer specializations={specializations} />
</section>
