---
import { Image } from 'astro:assets'

const { service } = Astro.props
---

<div class="flex w-[300px] flex-col items-center">
	<Image
		src={service.imgSrc}
		alt={service.imgAlt}
		width={300}
		height={200}
		class={''}
	/>
	<p class="py-10">
		{service.name}
	</p>
</div>
