---
import { Image } from 'astro:assets'

const { specialization } = Astro.props
---

<div class="relative mx-auto w-[300px]">
	<Image
		src={specialization.imgSrc}
		alt={specialization.imgAlt}
		width={300}
		height={200}
		class={''}
	/>
	<div
		class:list={[
			'absolute left-8 flex flex-col items-start justify-end',
			{ 'top-32': (specialization.name.length <= 35) as boolean },
			{ 'h-20': (specialization.name.length <= 35) as boolean },
			{ 'top-24 h-28': (specialization.name.length > 35) as boolean },
		]}
	>
		<p
			class="flex-1 text-pretty text-base font-medium uppercase leading-4 text-white"
		>
			{specialization.name}
		</p>
		<a
			href={specialization.nextPage}
			class="duration-250 inline-block h-8 w-36 rounded-full border-2 border-white text-center font-medium text-white transition ease-in-out hover:text-pretty hover:bg-white hover:font-semibold hover:text-black"
		>
			Descubre
		</a>
	</div>
</div>
