---
import ProyectThum from '@/components/ProyectThum.astro'
---

<section class="mx-auto max-w-7xl py-12">
	<h2
		class="mb-8 text-center text-xl font-semibold uppercase md:mb-12 md:text-3xl"
	>
		<span class="font-normal normal-case"> Soluciones a medida </span>
		<br />
		Proyectos culminados
	</h2>
	<ProyectThum />
</section>
