---
import ProyectThum from '@/components/ProyectThum.astro'
---

<section class="mx-auto pb-16 pt-12">
	<h2
		class="mb-8 text-center text-xl font-semibold uppercase md:mb-12 md:text-3xl"
	>
		<span class="font-normal normal-case"> Soluciones a medida </span>
		<br />
		Proyectos culminados
	</h2>
	<div class="slider w-screen overflow-hidden">
		<input class="hidden" name="slider" id="slider1" type="radio" checked />
		<input class="hidden" name="slider" id="slider2" type="radio" />
		<input class="hidden" name="slider" id="slider3" type="radio" />
		<input class="hidden" name="slider" id="slider4" type="radio" />
		<input class="hidden" name="slider" id="slider5" type="radio" />
		<div
			class="buttonsSlider mx-auto my-4 hidden max-w-7xl justify-center px-4 lg:my-8 lg:flex"
		>
			<label
				for="slider1"
				class="m-0 cursor-pointer text-pretty border-b-[3px] border-gray-400 pb-2 text-center lg:px-4 lg:text-xl"
				>Sistema de Adquisición de Datos</label
			>
			<label
				for="slider2"
				class="m-0 cursor-pointer text-pretty border-b-[3px] border-gray-400 pb-2 text-center lg:px-4 lg:text-xl"
				>Maquinaria Industrial</label
			>
			<label
				for="slider3"
				class="m-0 cursor-pointer text-pretty border-b-[3px] border-gray-400 pb-2 text-center lg:px-4 lg:text-xl"
				>Sistema de Medición de Energía</label
			>
			<label
				for="slider4"
				class="m-0 cursor-pointer text-pretty border-b-[3px] border-gray-400 pb-2 text-center lg:px-4 lg:text-xl"
				>Sistema de control y Monitoreo Agro</label
			>
			<label
				for="slider5"
				class="m-0 cursor-pointer text-pretty border-b-[3px] border-gray-400 pb-2 text-center lg:px-4 lg:text-xl"
				>Controlador Industrial para Minería</label
			>
		</div>
		<ul
			class="relative flex snap-x snap-mandatory overflow-x-auto lg:overflow-x-visible"
		>
			<ProyectThum title="Sistema de adquisición de datos" />
			<ProyectThum title="Maquinaria industrial" />
			<ProyectThum title="Sistema de medición de energía" />
			<ProyectThum title="Sistema de control y monitoreo para Agro" />
			<ProyectThum title="Control Industrial para minería" />
		</ul>
	</div>
</section>

<style>
	ul {
		transition: left 0.3s ease-in-out;
	}
	.slider input:nth-child(1):checked ~ ul {
		left: 0;
	}
	.slider input:nth-child(2):checked ~ ul {
		left: -100vw;
	}
	.slider input:nth-child(3):checked ~ ul {
		left: -200vw;
	}
	.slider input:nth-child(4):checked ~ ul {
		left: -300vw;
	}
	.slider input:nth-child(5):checked ~ ul {
		left: -400vw;
	}

	.slider input:nth-child(1):checked ~ .buttonsSlider label:nth-child(1),
	.slider input:nth-child(2):checked ~ .buttonsSlider label:nth-child(2),
	.slider input:nth-child(3):checked ~ .buttonsSlider label:nth-child(3),
	.slider input:nth-child(4):checked ~ .buttonsSlider label:nth-child(4),
	.slider input:nth-child(5):checked ~ .buttonsSlider label:nth-child(5) {
		border-bottom: 3px solid black;
	}
</style>
