---
import CardServices from '@/components/CardServices.astro'
import ServicesSW from '@public/svg/ServicesSW-Icon.svg'
import ServicesHW from '@public/svg/ServicesHW-Icon.svg'
import Consulting from '@public/svg/Consulting.svg'
import serviceSWBg from '@/assets/Inicio/ServiceSW.webp'
import serviceHWBg from '@/assets/Inicio/ServiceHW.webp'
import serviceConsultingBg from '@/assets/Inicio/ServicesConsulting.webp'

const services = [
	{
		imgSrc: ServicesSW,
		imgBg: serviceSWBg,
		imgAlt: 'Desarrollo de software',
		name: 'Desarrollo de software',
		nextPage: '/services/software',
	},
	{
		imgBg: serviceHWBg,
		imgSrc: ServicesHW,
		imgAlt: 'Desarrollo de Hardware',
		name: 'Desarrollo de Hardware',
		nextPage: 'services/hardware',
	},
	{
		imgBg: serviceConsultingBg,
		imgSrc: Consulting,
		imgAlt: 'Servicio de consultoría',
		name: 'Servicio de consultoría',
		nextPage: 'services/capacitaciones',
	},
]
---

<section class="bg-black py-12">
	<div class="mx-auto max-w-7xl">
		<h2
			class="mb-8 text-pretty text-center text-xl font-semibold uppercase text-white md:mb-12 md:text-3xl"
		>
			Nuestros servicios
		</h2>
		<ul
			class="mx-auto flex flex-wrap content-center items-center justify-center gap-8"
		>
			{
				services.map((service, index) => (
					<CardServices service={service} key={index} />
				))
			}
		</ul>
	</div>
</section>
