<section class="py-24">
	<h2
		class="text-pretty text-center text-xl font-medium uppercase text-black md:mb-12 md:text-3xl"
	>
		Sobre mmj
	</h2>
	<p
		class="mx-auto my-8 max-w-xs text-pretty text-center tracking-wide md:max-w-xl lg:max-w-2xl lg:text-lg xl:max-w-5xl xl:text-xl xl:tracking-wider"
	>
		MMJ Smart electronics es una empresa dedicada al diseño de sistemas basados
		en software y hardware para los diferentes campos de la industria.
		Desarrollamos aplicaciones basadas en microcontroladores PIC, AVR,
		PROPELLER, etc. También nos dedicamos a brindar capacitaciones y
		especializaciones en el área de ingeniería electrónica, telecomunicaciones,
		sistemas, mecatrónica, mecánica, eléctrica y software
	</p>
	<ul class="flex flex-wrap justify-center gap-12 xl:pt-8">
		<li class="flex flex-col items-center gap-2">
			<p class="text-6xl font-bold">+15</p>
			<span class="inline-block w-48 text-center text-xl"
				>Cursos y especializaciones</span
			>
		</li>
		<li class="flex flex-col items-center gap-2">
			<p class="text-6xl font-bold">+6</p>
			<span class="inline-block w-48 text-center text-xl"
				>Países diferentes</span
			>
		</li>
	</ul>
</section>
