---
import { Image } from 'astro:assets'
import phone from '@public/svg/phone.svg'
import pin from '@public/svg/pin.svg'
import mapa from '@/assets/Mapa.webp'
---

<section class="py-12">
	<h2
		class="mb-8 text-pretty text-center text-xl font-medium uppercase text-black md:mb-12 md:text-3xl"
	>
		Te asesoramos
	</h2>
	<div
		class="max-w-7xl lg:mx-auto lg:flex lg:items-center lg:justify-evenly lg:gap-1"
	>
		<form action="" class="mx-auto max-w-sm rounded-xl bg-gray-500 p-4 lg:mx-0">
			<input
				type="text"
				placeholder="Nombre"
				class="mb-2 w-full rounded-full p-2 text-sm text-black"
			/>
			<input
				type="text"
				placeholder="Email"
				class="mb-2 w-full rounded-full p-2 text-sm text-black"
			/>
			<input
				type="text"
				placeholder="teléfono"
				class="mb-2 w-full rounded-full p-2 text-sm text-black"
			/>
			<textarea
				class="mb-2 w-full rounded-xl p-2 text-sm text-black"
				name=""
				id=""
				cols="30"
				rows="10"
				placeholder="Comentario"></textarea>
			<button
				type="submit"
				class="w-full rounded-xl bg-blue-700 py-2 text-base font-semibold text-white"
				>Enviar</button
			>
			<!-- catchap -->
		</form>
		<div class="hidden lg:block">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8110.7278650529215!2d-77.06606831466783!3d-12.03196278366052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf860eb500ad%3A0x79a9fd3a562173cb!2sMMJ%20SMART%20ELECTRONICS%20SAC!5e0!3m2!1ses!2spe!4v1715137825870!5m2!1ses!2spe"
				width="600"
				height="450"
				class="rounded-xl"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
			<!-- <ul
				class="mx-auto mb-8 flex max-w-xl flex-col items-start justify-center gap-4 md:items-center lg:items-start"
			>
				<li class="flex items-center gap-2">
					<Image src={phone} alt="phone logo" width={32} height={32} />
					<span class="text-black">+51 945 241 137</span>
				</li>
				<li class="flex items-center gap-2">
					<Image src={pin} alt="pin logo" width={32} height={32} />
					<div>
						<span class="inline-block text-pretty text-black"
							>Av. Perú #1716, 2do piso - San Martín de Porres - Perú</span
						>
					</div>
				</li>
			</ul> -->
		</div>
	</div>
</section>
