---
import { Image } from 'astro:assets'
import mision from '@public/svg/mision.svg'
import grow from '@public/svg/grow.svg'
---

<section class="bg-black px-4 py-12 md:py-24">
	<div
		class="mx-auto flex max-w-7xl flex-wrap items-center justify-center gap-12"
	>
		<div class="">
			<hgroup
				class="lg:mb-8 lg:flex lg:items-center lg:justify-between xl:mb-12"
			>
				<h2
					class="mb-8 text-pretty text-center text-2xl uppercase tracking-wide text-white lg:mb-0 lg:text-start xl:text-4xl"
				>
					Misión
				</h2>
				<Image
					src={mision}
					alt="ícono de la una flecha dando al blanco"
					width={64}
					height={64}
					class="hidden lg:block"
				/>
			</hgroup>
			<p
				class="max-w-md text-pretty text-left text-sm font-normal text-white md:text-base xl:max-w-lg xl:text-xl xl:font-normal xl:tracking-wider"
			>
				Impulsar la innovación y el desarrollo tecnológico en el Perú y
				Latinoamérica, formando especialistas y proporcionando soluciones
				tecnológicas a medida para diversos campos de la industria, con
				productos y servicios de alta calidad que satisfacen las necesidades de
				nuestros clientes contribuyendo así al éxito de sus negocios.
			</p>
		</div>
		<div>
			<hgroup
				class="lg:mb-8 lg:flex lg:items-center lg:justify-between xl:mb-12"
			>
				<h2
					class="mb-8 text-pretty text-center text-2xl uppercase tracking-wide text-white lg:mb-0 lg:text-start xl:text-4xl"
				>
					Visión
				</h2>
				<Image
					src={grow}
					alt="ícono de la una tendencia positiva"
					width={64}
					height={64}
					class="hidden lg:block"
				/>
			</hgroup>
			<p
				class="max-w-md text-pretty text-left text-sm font-normal text-white md:text-base xl:max-w-lg xl:text-xl xl:font-normal xl:tracking-wider"
			>
				Ser el líder en tecnología e innovación expandiendo nuestro alcance y
				contribuyendo al crecimiento económico y la sostenibilidad mediante el
				desarrollo de profesionales y soluciones tecnológicas de vanguardia.
			</p>
		</div>
	</div>
</section>
